In [1]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [7]:
randn(3)#gaussian distrubiton 0 ın etrafında 3 değer

array([-0.31724229, -1.07770315, -3.10435997])

In [8]:
randn(3,3)

array([[-0.38110533,  1.08898359, -0.39649767],
       [ 0.21288624,  0.73983779, -0.37554864],
       [ 0.36098952,  0.04347969, -0.98883962]])

In [12]:
df = pd.DataFrame(data = randn(3,3),index = [i for i in "ABC"], columns = "Column1 Column2 Column3".split(" "))#shift tabla içine istenenleri gör

In [13]:
df

    Column1   Column2   Column3
A -0.565978 -1.566798 -0.036162
B  0.349797  0.290809 -1.341897
C -1.020427  0.075180  0.106997

In [14]:
#Hepsi kendi içinde birer seri, satırlar sütunlar vs

In [16]:
df["Column1"]#Column1 e göre serim döndü...

A   -0.565978
B    0.349797
C   -1.020427
Name: Column1, dtype: float64

In [17]:
df["Column2"]

A   -1.566798
B    0.290809
C    0.075180
Name: Column2, dtype: float64

In [18]:
type(df["Column3"])

pandas.core.series.Series

In [19]:
df["A"]

KeyError: 'A'

In [21]:
df.loc["A"]#location index değerlerine göre buluyoruz bu yine bi seri oldu

Column1   -0.565978
Column2   -1.566798
Column3   -0.036162
Name: A, dtype: float64

In [22]:
type(df.loc["A"])

pandas.core.series.Series

In [25]:
df[["Column1","Column3"]]

    Column1   Column3
A -0.565978 -0.036162
B  0.349797 -1.341897
C -1.020427  0.106997

In [26]:
df

    Column1   Column2   Column3
A -0.565978 -1.566798 -0.036162
B  0.349797  0.290809 -1.341897
C -1.020427  0.075180  0.106997

In [28]:
df["Column4"] = pd.Series((1,2,3), [i for i in "ABC"])

In [29]:
df

    Column1   Column2   Column3  Column4
A -0.565978 -1.566798 -0.036162        1
B  0.349797  0.290809 -1.341897        2
C -1.020427  0.075180  0.106997        3

In [30]:
df["Column4"] = pd.Series(randn(3), [i for i in "ABC"])

In [31]:
df

    Column1   Column2   Column3   Column4
A -0.565978 -1.566798 -0.036162 -0.455391
B  0.349797  0.290809 -1.341897  1.424497
C -1.020427  0.075180  0.106997  0.017047

In [34]:
import functools
df["Toplamlar"] = functools.reduce(lambda a, b: a+b, [df[i] for i in "Column1 Column2 Column3 Column4".split(" ")])

In [35]:
df

    Column1   Column2   Column3   Column4  Toplamlar
A -0.565978 -1.566798 -0.036162 -0.455391  -2.624329
B  0.349797  0.290809 -1.341897  1.424497   0.723205
C -1.020427  0.075180  0.106997  0.017047  -0.821204

In [36]:
-0.565978+-1.566798+-0.036162+-0.455391

-2.624329

In [37]:
df["Toplamlar"]= df["Column1"]+df["Column2"]+df["Column3"]+df["Column4"]

In [38]:
df

    Column1   Column2   Column3   Column4  Toplamlar
A -0.565978 -1.566798 -0.036162 -0.455391  -2.624329
B  0.349797  0.290809 -1.341897  1.424497   0.723205
C -1.020427  0.075180  0.106997  0.017047  -0.821204

In [39]:
df.drop("Column4")

KeyError: "['Column4'] not found in axis"

In [40]:
df.drop("Column4",axis=1)

    Column1   Column2   Column3  Toplamlar
A -0.565978 -1.566798 -0.036162  -2.624329
B  0.349797  0.290809 -1.341897   0.723205
C -1.020427  0.075180  0.106997  -0.821204

In [43]:
df.drop("A",axis=0)#Tablolarda axis diye bir kavram var yatay eksen "axis" = 0, düşey eksen "axis" = 1 e eşittir...!

    Column1   Column2   Column3   Column4  Toplamlar
B  0.349797  0.290809 -1.341897  1.424497   0.723205
C -1.020427  0.075180  0.106997  0.017047  -0.821204

In [44]:
df

    Column1   Column2   Column3   Column4  Toplamlar
A -0.565978 -1.566798 -0.036162 -0.455391  -2.624329
B  0.349797  0.290809 -1.341897  1.424497   0.723205
C -1.020427  0.075180  0.106997  0.017047  -0.821204

In [45]:
df.drop("Column4",axis=1)#shifttab-> dataframe'i güncellemek istiyorsan inplace i True yapmalısın...

    Column1   Column2   Column3  Toplamlar
A -0.565978 -1.566798 -0.036162  -2.624329
B  0.349797  0.290809 -1.341897   0.723205
C -1.020427  0.075180  0.106997  -0.821204

In [46]:
df.drop("Column4",axis=1, inplace=True)

In [47]:
df

    Column1   Column2   Column3  Toplamlar
A -0.565978 -1.566798 -0.036162  -2.624329
B  0.349797  0.290809 -1.341897   0.723205
C -1.020427  0.075180  0.106997  -0.821204

In [48]:
df["Column1"]

A   -0.565978
B    0.349797
C   -1.020427
Name: Column1, dtype: float64

In [49]:
df.loc["A"]

Column1     -0.565978
Column2     -1.566798
Column3     -0.036162
Toplamlar   -2.624329
Name: A, dtype: float64

In [53]:
df.iloc[0]#index olan A yı kastettik üsttekiyle aynı şey...

Column1     -0.565978
Column2     -1.566798
Column3     -0.036162
Toplamlar   -2.624329
Name: A, dtype: float64

In [54]:
df.loc["A","Column1"]

-0.5659783285213071

In [55]:
df.loc["B","Column2"]

0.29080873398769563

In [56]:
df.loc[["A","B"],["Column1","Column2"]]

    Column1   Column2
A -0.565978 -1.566798
B  0.349797  0.290809