In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
outerIndex = "Group1 Group1 Group1 Group2 Group2 Group2 Group3 Group3 Group3".split(" ")

In [8]:
innerIndex = "Index1 Index2 Index3 Index1 Index2 Index3 Index1 Index2 Index3".split(" ")

In [9]:
list(zip(outerIndex,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [10]:
hierarchy = list(zip(outerIndex,innerIndex))

In [11]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [12]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [14]:
df = pd.DataFrame(randn(9,3),hierarchy,"Column1 Column2 Column3".split(" "))

In [15]:
df

                Column1   Column2   Column3
Group1 Index1 -0.802309  0.255647  2.423862
       Index2 -0.528006 -0.488948 -0.252493
       Index3 -0.476093  0.347893 -0.160546
Group2 Index1 -0.135122 -1.233115  0.349954
       Index2  0.197290  1.311327  0.236669
       Index3  0.374058  0.056763 -0.627043
Group3 Index1 -1.332932  1.833201 -1.697519
       Index2  0.306091  0.750772  1.820670
       Index3 -0.144615 -1.673505  1.063088

In [16]:
df["Column1"]

Group1  Index1   -0.802309
        Index2   -0.528006
        Index3   -0.476093
Group2  Index1   -0.135122
        Index2    0.197290
        Index3    0.374058
Group3  Index1   -1.332932
        Index2    0.306091
        Index3   -0.144615
Name: Column1, dtype: float64

In [19]:
df.loc["Group1"]

         Column1   Column2   Column3
Index1 -0.802309  0.255647  2.423862
Index2 -0.528006 -0.488948 -0.252493
Index3 -0.476093  0.347893 -0.160546

In [20]:
df.loc["Group2"]

         Column1   Column2   Column3
Index1 -0.135122 -1.233115  0.349954
Index2  0.197290  1.311327  0.236669
Index3  0.374058  0.056763 -0.627043

In [23]:
df.loc[["Group2", "Group1"]]

                Column1   Column2   Column3
Group2 Index1 -0.135122 -1.233115  0.349954
       Index2  0.197290  1.311327  0.236669
       Index3  0.374058  0.056763 -0.627043
Group1 Index1 -0.802309  0.255647  2.423862
       Index2 -0.528006 -0.488948 -0.252493
       Index3 -0.476093  0.347893 -0.160546

In [26]:
df.loc["Group1"].loc["Index1"]

Column1   -0.802309
Column2    0.255647
Column3    2.423862
Name: Index1, dtype: float64

In [27]:
df.loc["Group1"].loc["Index1"]["Column1"]

-0.8023089908003078

In [28]:
df.index.names

FrozenList([None, None])

In [33]:
df.index.names = ["Groups","Indexes"]#Dıştan başlayarak

In [34]:
df

                 Column1   Column2   Column3
Groups Indexes
Group1 Index1  -0.802309  0.255647  2.423862
       Index2  -0.528006 -0.488948 -0.252493
       Index3  -0.476093  0.347893 -0.160546
Group2 Index1  -0.135122 -1.233115  0.349954
       Index2   0.197290  1.311327  0.236669
       Index3   0.374058  0.056763 -0.627043
Group3 Index1  -1.332932  1.833201 -1.697519
       Index2   0.306091  0.750772  1.820670
       Index3  -0.144615 -1.673505  1.063088

In [35]:
df.loc["Group1"]

          Column1   Column2   Column3
Indexes
Index1  -0.802309  0.255647  2.423862
Index2  -0.528006 -0.488948 -0.252493
Index3  -0.476093  0.347893 -0.160546

In [36]:
df.xs("Group1")

          Column1   Column2   Column3
Indexes
Index1  -0.802309  0.255647  2.423862
Index2  -0.528006 -0.488948 -0.252493
Index3  -0.476093  0.347893 -0.160546

In [37]:
df.xs("Group2")

          Column1   Column2   Column3
Indexes
Index1  -0.135122 -1.233115  0.349954
Index2   0.197290  1.311327  0.236669
Index3   0.374058  0.056763 -0.627043

In [38]:
df.xs("Group1").xs("Index1")

Column1   -0.802309
Column2    0.255647
Column3    2.423862
Name: Index1, dtype: float64

In [39]:
df.xs("Group1").xs("Index1").xs("Column1")

-0.8023089908003078

In [40]:
df.xs("Index1")

KeyError: 'Index1'

In [41]:
df.xs("Index1", level = "Indexes")

         Column1   Column2   Column3
Groups
Group1 -0.802309  0.255647  2.423862
Group2 -0.135122 -1.233115  0.349954
Group3 -1.332932  1.833201 -1.697519